/*
- Make font size with html: 62.5%. 
- Use floats all over the place (with the clearfix hack)
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 56.25%; } }

body {
  font-family: 'Niramit', sans-serif;
  padding: 50px;
  padding-bottom: 0px; }
  @media screen and (max-width: 900px) {
    body {
      padding: 20px; } }
  @media screen and (max-width: 700px) {
    body {
      padding: 0px; } }

.header {
  width: 100%;
  background-color: #EFEFEF;
  position: relative; }
  .header .backdrop {
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20; }
  .header .dropdown {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-85vh);
    width: 100vw;
    height: 80vh;
    min-height: 390px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    transition: all .3s; }
    .header .dropdown p {
      font-size: 6rem;
      color: #136F63;
      cursor: pointer; }
    .header .dropdown ul {
      list-style: none; }
      .header .dropdown ul li {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px; }
  .header .scrolldown {
    display: none;
    z-index: 10;
    box-shadow: 0.5px 1px 0.5px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100px;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    left: 0; }
    @media screen and (max-width: 700px) {
      .header .scrolldown {
        display: block; } }
    .header .scrolldown #burger {
      position: fixed;
      font-size: 5rem;
      left: 50%;
      top: 30px;
      color: #136F63;
      cursor: pointer;
      transform: translateX(-50%);
      display: none; }
      @media screen and (max-width: 700px) {
        .header .scrolldown #burger {
          display: block; } }
  .header__nav {
    height: 50px;
    width: 100%; }
    .header__nav-menu {
      margin: 0 auto;
      width: 50%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #136F63;
      padding: 10px; }
      @media screen and (max-width: 800px) {
        .header__nav-menu {
          width: 80%; } }
      @media screen and (max-width: 700px) {
        .header__nav-menu {
          width: 90%;
          padding-top: 110px; } }
      .header__nav-menu--list {
        font-size: 2rem; }
    .header__nav .menuimg {
      height: 60px;
      position: absolute;
      top: 10px;
      right: 30px; }
      @media screen and (max-width: 800px) {
        .header__nav .menuimg {
          display: none; } }
  .header__body {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 60px; }
    @media screen and (max-width: 700px) {
      .header__body {
        flex-direction: column; } }
    @media screen and (max-width: 900px) {
      .header__body {
        padding: 20px 30px; } }
    .header__body-logo {
      width: 25%;
      min-width: 280px;
      height: 100%;
      text-align: center;
      font-size: 3.2rem;
      color: #136F63;
      margin-top: 30px; }
      @media screen and (max-width: 750px) {
        .header__body-logo {
          min-width: 230px; } }
      @media screen and (max-width: 700px) {
        .header__body-logo {
          margin-top: 80px;
          min-width: 400px;
          width: 85%;
          margin-left: auto;
          margin-right: auto;
          height: 220px; } }
      @media screen and (max-width: 500px) {
        .header__body-logo {
          margin-top: 80px;
          min-width: 300px;
          width: 100%;
          height: 200px; } }
    .header__body-right {
      width: 100%; }
      .header__body-right--top {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around; }
        @media screen and (max-width: 1050px) {
          .header__body-right--top {
            flex-direction: column;
            justify-content: center; } }
        .header__body-right--top-name {
          font-size: 3.2rem;
          color: #032B43;
          text-align: center; }
          @media screen and (max-width: 800px) {
            .header__body-right--top-name {
              font-size: 2.5rem; } }
        .header__body-right--top #search {
          min-width: 170px;
          width: 10%;
          border: none;
          font: inherit;
          font-size: 2rem;
          padding: 5px;
          border-bottom: 2.5px solid rgba(0, 0, 0, 0.4);
          outline: none;
          transition: all .3s; }
          @media screen and (max-width: 1050px) {
            .header__body-right--top #search {
              width: 50%;
              margin: 30px auto; } }
          .header__body-right--top #search:focus {
            border-bottom: 2.5px solid rgba(19, 111, 99, 0.7); }
      .header__body-right--bottom {
        width: 100%; }
        @media screen and (max-width: 700px) {
          .header__body-right--bottom {
            display: none; } }
        .header__body-right--bottom-menu {
          width: 95%;
          height: 80px;
          margin-top: 30px;
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          @media screen and (max-width: 1050px) {
            .header__body-right--bottom-menu {
              width: 125%;
              transform: translateX(-40%); } }
          .header__body-right--bottom-menu--list {
            font-size: 2rem;
            color: #032B43;
            border: 2px solid transparent;
            transition: border .4s;
            font-weight: 600;
            cursor: pointer; }
            .header__body-right--bottom-menu--list:hover {
              border-bottom: 2px solid #136F63; }
  .header__bottom {
    border-top: 0.5px solid rgba(0, 0, 0, 0.4);
    margin-left: 10%;
    width: 80%;
    margin-top: 15px; }
    .header__bottom-menu {
      list-style: none;
      display: flex;
      width: 30%;
      justify-content: space-between;
      font-size: 1.8rem;
      padding: 10px 30px; }
      @media screen and (max-width: 1050px) {
        .header__bottom-menu {
          width: 60%; } }
      @media screen and (max-width: 700px) {
        .header__bottom-menu {
          width: 100%; } }

.main {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 800px) {
    .main {
      flex-direction: column; } }
  .main__menu {
    width: 25%;
    padding: 30px 0px;
    background-color: #222;
    color: #EFEFEF; }
    @media screen and (max-width: 1150px) {
      .main__menu {
        width: 35%; } }
    @media screen and (max-width: 800px) {
      .main__menu {
        width: 100%;
        padding: 10px 0px; } }
    @media screen and (max-width: 450px) {
      .main__menu {
        padding: 0;
        height: 50px; } }
    .main__menu-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 350px; }
      @media screen and (max-width: 800px) {
        .main__menu-list {
          flex-direction: row;
          min-height: 60px; } }
      .main__menu-list--item {
        width: 100%;
        padding: 15px 10px;
        font-size: 1.8rem;
        text-align: center;
        transition: all .3s;
        cursor: pointer; }
        @media screen and (max-width: 450px) {
          .main__menu-list--item {
            font-size: 1.5rem;
            padding: 10px 5px; } }
        .main__menu-list--item:not(:last-child) {
          margin-bottom: 10px; }
          @media screen and (max-width: 800px) {
            .main__menu-list--item:not(:last-child) {
              margin-bottom: 0px; } }
        .main__menu-list--item:hover {
          background-color: rgba(255, 255, 255, 0.7);
          color: #000; }
  .main__hero {
    width: 100%;
    padding-left: 40px; }
    @media screen and (max-width: 950px) {
      .main__hero {
        padding-left: 0px; }
        .main__hero > * {
          padding-left: 30px; } }
    @media screen and (max-width: 800px) {
      .main__hero > * {
        padding-left: 0px; } }
    @media screen and (max-width: 700px) {
      .main__hero {
        padding: 25px; } }
    .main__hero-title {
      font-size: 3.7rem;
      margin-bottom: 20px;
      padding: 10px; }
      @media screen and (max-width: 800px) {
        .main__hero-title {
          text-align: center; } }
    .main__hero-img {
      background-image: url(../img/desksmall.jpg);
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative; }
      .main__hero-img--desc {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #EFEFEF;
        font-size: 1.9rem;
        text-align: center;
        padding: 20px 40px; }
        @media screen and (max-width: 1100px) {
          .main__hero-img--desc {
            width: 100%; } }
    .main__hero-titletwo {
      font-size: 3.1rem;
      margin: 10px 0; }
      @media screen and (max-width: 800px) {
        .main__hero-titletwo {
          text-align: center; } }
    .main__hero-desc {
      font-size: 2.5rem;
      width: 70%;
      margin-bottom: 35px; }
      @media screen and (max-width: 800px) {
        .main__hero-desc {
          text-align: center;
          width: 100%; } }
    .main__hero-undertitle {
      font-size: 2.6rem;
      margin-bottom: 10px; }
    .main__hero-underdesc {
      font-size: 2rem;
      width: 90%;
      margin-bottom: 55px; }
    .main__hero blockquote {
      font-size: 2rem;
      width: 50%;
      margin-top: 30px; }
      @media screen and (max-width: 800px) {
        .main__hero blockquote {
          width: 80%;
          margin: 0 auto; } }
    .main__hero cite {
      font-size: 1.8rem;
      margin-left: 30%;
      margin-bottom: 40px;
      display: block; }
      @media screen and (max-width: 800px) {
        .main__hero cite {
          margin: 30px auto;
          text-align: center; } }
    .main__hero-gallery {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 950px) {
        .main__hero-gallery {
          padding-left: 0px; }
          .main__hero-gallery > * {
            padding-left: 0px; } }
      @media screen and (max-width: 830px) {
        .main__hero-gallery {
          flex-direction: column; } }
      .main__hero-gallery--img {
        background-size: cover;
        background-position: center;
        width: 33%;
        height: 250px;
        position: relative; }
        @media screen and (max-width: 830px) {
          .main__hero-gallery--img {
            width: 100%;
            margin-bottom: 2rem; } }
        .main__hero-gallery--img-desc {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          color: #EFEFEF;
          height: 50px;
          font-size: 1.8rem;
          text-align: center;
          padding: 10px; }
      .main__hero-gallery--img:nth-child(1) {
        background-image: url(../img/laptopmedium.jpg); }
        @media screen and (max-width: 830px) {
          .main__hero-gallery--img:nth-child(1) {
            background-image: url(../img/laptopsmall.jpg); } }
      .main__hero-gallery--img:nth-child(2) {
        background-image: url(../img/javascriptmedium.jpg); }
        @media screen and (max-width: 830px) {
          .main__hero-gallery--img:nth-child(2) {
            background-image: url(../img/javascriptsmall.jpg); } }
      .main__hero-gallery--img:nth-child(3) {
        background-image: url(../img/phpmedium.jpg); }
        @media screen and (max-width: 830px) {
          .main__hero-gallery--img:nth-child(3) {
            background-image: url(../img/phpsmall.jpg);
            margin-bottom: 0px; } }

.footer {
  margin-top: 50px;
  width: 100%;
  padding: 40px;
  background-color: #136F63;
  color: #EFEFEF;
  position: relative; }
  .footer__info {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    @media screen and (max-width: 750px) {
      .footer__info {
        flex-direction: column; } }
    .footer__info-list {
      list-style: none; }
      @media screen and (max-width: 750px) {
        .footer__info-list {
          border-bottom: 0.7px solid #e2c30f;
          padding-bottom: 10px;
          width: 40%; } }
      @media screen and (max-width: 550px) {
        .footer__info-list {
          width: 80%;
          margin: 10px auto;
          text-align: center; } }
      .footer__info-list--item {
        font-size: 1.8rem; }
        .footer__info-list--item a {
          text-decoration: none;
          font-weight: 600;
          color: #e2c30f; }
    .footer__info-socialmedia {
      list-style: none;
      margin-right: 10%; }
      .footer__info-socialmedia--icon {
        font-size: 3.3rem;
        cursor: pointer;
        text-align: center; }
      @media screen and (max-width: 750px) {
        .footer__info-socialmedia {
          position: absolute;
          top: 30px;
          right: 30px; } }
      @media screen and (max-width: 550px) {
        .footer__info-socialmedia {
          display: flex;
          width: 100%;
          justify-content: space-between;
          position: static;
          margin-top: 30px; } }
  .footer__backtotop {
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer; }
    .footer__backtotop a {
      text-decoration: none;
      color: inherit; }
    .footer__backtotop span {
      font-size: 3rem;
      margin-left: 10px;
      color: #e2c30f; }
